<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :clocked_in %>
    <%= form.datetime_select :clocked_in, id: :event_clocked_in %>
  </div>

  <div class="field">
    <%= form.label :clocked_out %>
    <%= form.datetime_select :clocked_out, id: :event_clocked_out %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
